@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");
.rif_formInput_container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-family: "Roboto", sans-serif;
  margin-bottom: 10px;
}

.rif_formInput_container .rif_formInput_label {
  font-weight: 500;
  font-size: 14px;
  margin-bottom: 6px;
}

.rif_formInput_container .rif_formInput_input {
  padding: 6px 8px;
  font-size: 12px;
  border: 2px solid rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  font-family: "Roboto", sans-serif;
  letter-spacing: 0.2px;
  outline: none;
  transition: all 0.5s ease;
}
.rif_formInput_container .rif_formInput_password_input {
  padding: 6px 8px;
  font-size: 12px;
  border: 2px solid rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  font-family: "Roboto", sans-serif;
  letter-spacing: 0.2px;
  outline: none;
  transition: all 0.5s ease;
}

.rif_formInput_textarea {
  resize: none;
}
.rif_formInput_checkbox_label {
  display: flex;
  align-items: center;
  margin-bottom: 8px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 14px;
}

.rif_formInput_checkbox_label input[type="checkbox"],
.rif_formInput_checkbox_label input[type="radio"] {
  margin-right: 8px;
}

.rif_formInput_container .rif_formInput_input:focus,
.rif_formInput_container .rif_formInput_input:focus-visible {
  border: 2px solid rgba(0, 0, 0, 0.2);
  outline: none;
}

.rif_formInput_container .rif_formInput_password_input:focus,
.rif_formInput_container .rif_formInput_password_input:focus-visible {
  border: 2px solid rgba(0, 0, 0, 0.2);
  outline: none;
}

.rif_formInput_container .rif_formInput_input.with_error,
.rif_formInput_container .rif_formInput_password_input.with_error {
  border: 2px solid rgb(255, 0, 0);
}

.rif_formInput_container .rif_formInput_input_span {
  position: relative;
}

.rif_formInput_input_span .rif_formInput_password_show_btn {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 50%;
  right: 3px;
  padding: 0;
  transform: translate(-3px, -50%);
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}
